autopep8
black
coveralls
django
django-cors-headers
django-firebase
django-heroku
djangorestframework
djangorestframework-simplejwt
drf-yasg
firebase-admin
gunicorn
mock
Pillow
psycopg2
pytest
pytest-mock
python-dotenv
python-memcached
pytz
pywhatkit
selenium
