autopep8
black
coveralls
django
django-cors-headers
django-firebase
django-heroku
djangorestframework
djangorestframework-simplejwt
firebase-admin
gunicorn
mock
Pillow
psycopg2
pytest
pytest-mock
python-dotenv
pytz
pywhatkit
selenium
